body {
  margin: 0;
}

#box {
  width: 190px;
  height: 160px;
  background-color: #000;
  margin: 1px 2px 3px 4px;
  padding: 30px 0px 0px 10px;
  border-top: 10px solid red;
}

#box h1 {
  color: #fff;

}
